*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: 1.7;
  font-weight: 400; }

body {
  background-color: #f6f6f6; }

a:link, a:visited, a:active, a:hover {
  text-decoration: none; }

.btn {
  font-size: 1.6rem;
  padding: .8rem 3rem;
  border-radius: 26px;
  background-color: #F3737C;
  color: #fff;
  border: none;
  font-family: roboto;
  outline: none;
  cursor: pointer;
  transform: scale(1); }
  .btn:hover {
    box-shadow: 0 5px 20px #979797;
    transform: translateY(-0.1rem); }
  .btn:active {
    box-shadow: none;
    transform: scale(1.01); }

@font-face {
  font-family: calibri;
  src: url(../fonts/calibri/Calibri.ttf); }

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf); }

.header {
  position: fixed;
  width: 100%;
  z-index: 99999999;
  background-color: #fff;
  box-shadow: 0px 2px 6px #5A5A5A26; }
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem; }
    .header__nav--logo-img {
      height: 3rem; }
    .header__nav--links {
      list-style-type: none;
      display: flex;
      font-family: calibri; }
      .header__nav--links-item {
        color: #979797;
        font-size: 1.5rem;
        margin: 0 1.5rem;
        font-weight: 600;
        cursor: pointer; }

.main {
  display: flex;
  font-family: calibri;
  overflow: hidden; }
  .main__info {
    width: 40vw;
    padding: 10rem 5rem; }
    .main__info--services-btn {
      margin: 0 5rem; }
    .main__info-quote {
      font-size: 4.4rem;
      color: #676767;
      text-align: center; }
    .main__info-info {
      font-size: 2rem;
      color: #676767;
      text-align: center;
      margin: 0 0 2rem 0;
      width: 40vw; }
    .main__info--details {
      margin: 5rem 1rem; }
      .main__info--details-item {
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: #535353; }
        .main__info--details-item_telephone {
          height: 15px;
          margin: 0 2rem 0 1rem; }
        .main__info--details-item_location {
          height: 15px;
          margin: 0 2.5rem 0 1rem; }
        .main__info--details-item_mail {
          height: 15px;
          margin: 0 2rem 0 1rem;
          flex-flow: wrap; }
    .main__info__img--pic {
      margin-top: 50px;
      height: 100%;
      width: 60vw;
      display: none; }

.services {
  background-color: #fff;
  padding-top: 4.9rem; }
  .services__heading--1 {
    font-size: 4.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: calibri;
    margin-bottom: 7.4rem;
    color: #676767; }
  .services__row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 5rem; }
    .services__row--card {
      margin: 0 3.25rem;
      border-radius: 10px;
      width: 35rem;
      height: 53.7rem;
      padding: 2.3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .services__row--card-1 {
        border: 3px solid #2ECC71; }
      .services__row--card-2 {
        border: 3px solid #2980B9; }
      .services__row--card-3 {
        border: 3px solid #9B59B6; }
      .services__row--card--heading-2 {
        font-size: 3.2rem;
        color: #676767;
        font-family: calibri; }
      .services__row--card-img {
        height: 16.8rem;
        width: 19.6rem; }
      .services__row--card--service {
        padding: 0 1rem; }
        .services__row--card--service-list {
          margin: .5rem;
          margin-left: 1rem;
          font-family: roboto;
          font-weight: 300;
          font-size: 1.8rem;
          color: #979797; }
        .services__row--card--service-line {
          background-color: rgba(151, 151, 151, 0.5);
          width: 285px;
          height: 1px;
          border: none;
          outline: none; }
