*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: 1.7;
  font-weight: 400; }

body {
  background-color: #f6f6f6; }

@media only screen and (max-width: 28.25em) {
  html {
    font-size: 50%; } }

a:link, a:visited, a:active, a:hover {
  text-decoration: none; }

@font-face {
  font-family: calibri;
  src: url(../fonts/calibri/Calibri.ttf); }

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf); }

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: .8rem 3rem;
  border-radius: 26px;
  background-color: #F3737C;
  color: #fff;
  border: none;
  font-family: roboto;
  outline: none;
  cursor: pointer;
  transform: scale(1);
  display: inline-block; }
  .btn:hover,
  .btn:link:hover,
  .btn:visited:hover {
    box-shadow: 0 5px 20px #979797;
    transform: translateY(-0.1rem); }
  .btn:active,
  .btn:link:active,
  .btn:visited:active {
    box-shadow: none;
    transform: scale(0.99); }

.heading--1 {
  font-size: 4.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: calibri;
  margin-bottom: 7.4rem;
  color: #676767; }

.heading--2 {
  font-size: 3.2rem;
  color: #676767;
  font-family: calibri; }

.footer {
  background-color: #101d2c;
  color: #fff;
  font-size: 2rem;
  font-family: roboto;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; }
  .footer__icons {
    height: 3rem;
    width: 3rem; }
  .footer__img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%; }
  @media only screen and (max-width: 800px) {
    .footer {
      flex-direction: column; } }

.copyright {
  color: white;
  font-size: 1.5rem;
  margin-left: 4rem; }
  @media only screen and (max-width: 800px) {
    .copyright {
      margin-left: 1rem;
      margin-bottom: 1.5rem;
      text-align: center; } }

.socialmedia {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-right: 4rem; }

.header {
  position: fixed;
  width: 100%;
  z-index: 99999999;
  background-color: #fff;
  box-shadow: 0px 2px 6px #5A5A5A26; }
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem; }
    .header__nav--logo-img {
      height: 3rem; }
    .header__nav--links {
      list-style-type: none;
      display: flex;
      font-family: calibri; }
      .header__nav--links-item {
        color: #979797;
        font-size: 1.5rem;
        margin: 0 1.5rem;
        font-weight: 600;
        cursor: pointer; }

.main {
  display: flex;
  font-family: calibri;
  overflow: hidden; }
  .main__info {
    width: 50vw;
    padding: 15rem 5rem; }
    .main__info--services-btn {
      margin: 0 5rem; }
    .main__info-quote {
      font-size: 4.4rem;
      color: #676767;
      text-align: center; }
    .main__info-info {
      font-size: 2rem;
      color: #676767;
      text-align: center;
      margin: 0 0 2rem 0; }
    .main__info--details {
      margin: 5rem 1rem; }
      .main__info--details-item {
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: #535353; }
        .main__info--details-item_telephone {
          height: 15px;
          margin: 0 2rem 0 1rem; }
        .main__info--details-item_location {
          height: 15px;
          margin: 0 2.5rem 0 1rem; }
        .main__info--details-item_mail {
          height: 15px;
          margin: 0 2rem 0 1rem;
          flex-flow: wrap; }

.main__img {
  width: 60vw; }
  .main__img--pic {
    height: 100%; }

.services {
  background-color: #fff;
  padding-top: 4.9rem; }
  .services__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    .services__row--card {
      margin: 0 .15rem 4.25rem .15rem;
      border-radius: 10px;
      width: 35rem;
      height: 53.7rem;
      padding: 2.3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .services__row--card-1 {
        border: 3px solid #2ECC71; }
      .services__row--card-2 {
        border: 3px solid #2980B9; }
      .services__row--card-3 {
        border: 3px solid #9B59B6; }
      .services__row--card-img {
        height: 16.8rem;
        width: 19.6rem; }
      .services__row--card--service {
        padding: 0 1rem; }
        .services__row--card--service-list {
          margin: .5rem;
          margin-left: 1rem;
          font-family: roboto;
          font-weight: 300;
          font-size: 1.8rem;
          color: #979797; }
        .services__row--card--service-line {
          background-color: rgba(151, 151, 151, 0.5);
          width: 28.5rem;
          height: 1px;
          border: none;
          outline: none; }

.features {
  background-color: #f6f6f6;
  padding-top: 4.9rem; }
  .features__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    .features__row--card {
      width: 35rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 2.3rem;
      margin: 0 .15rem 4.25rem .15rem; }
      .features__row--card-img {
        height: 16.8rem;
        width: 16.8rem;
        border-radius: 50%;
        margin-bottom: 1rem; }
      .features__row--card-paragraph {
        color: #979797;
        margin: 0 2.5rem;
        font-size: 1.8rem;
        text-align: center;
        font-family: roboto; }

.feedback {
  background-color: #f6f6f6;
  padding-top: 4.9rem;
  padding-bottom: 4rem; }
  .feedback__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    .feedback__row--card {
      width: 35rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 2.3rem;
      margin: 0 .15rem 4.25rem .15rem; }
      .feedback__row--card-img {
        height: 16.8rem;
        width: 16.8rem;
        border-radius: 50%;
        margin-bottom: 1rem; }
      .feedback__row--card-paragraph {
        color: #979797;
        margin: 0 2.5rem;
        font-size: 1.8rem;
        text-align: center;
        font-family: roboto; }

.subscribe {
  padding: 4.9rem 3rem 4.9rem 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 900px) {
    .subscribe {
      padding: 4.9rem 3rem;
      flex-wrap: wrap-reverse;
      align-content: center; } }
  .subscribe__description {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 5vw; }
    .subscribe__description--heading-3 {
      color: #2C3E50;
      font-family: roboto;
      font-size: 4.2rem;
      font-weight: 600;
      margin-bottom: -2.75rem;
      letter-spacing: .1rem; }
      @media only screen and (max-width: 1200px) {
        .subscribe__description--heading-3 {
          font-size: 3rem;
          margin-bottom: -1.5rem; } }
      @media only screen and (max-width: 550px) {
        .subscribe__description--heading-3 {
          font-size: 2.75rem;
          letter-spacing: -.1rem; } }
      @media only screen and (max-width: 450px) {
        .subscribe__description--heading-3 {
          font-size: 2.5rem;
          letter-spacing: -.1rem; } }
    .subscribe__description--paragraph {
      margin: 4rem 0;
      font-family: roboto;
      font-size: 2rem;
      color: #535353; }
    .subscribe__description--form-email {
      font-size: 1.6rem;
      padding: .8rem 1.5rem;
      margin-right: 1rem;
      outline: none;
      border: 1px solid #979797;
      border-radius: 3px;
      color: #999; }
      .subscribe__description--form-email:focus {
        border-bottom: 2px solid red;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
      .subscribe__description--form-email:valid {
        border-bottom: 2px solid green; }
      @media only screen and (max-width: 500px) {
        .subscribe__description--form-email {
          width: 85%; } }
    @media only screen and (max-width: 500px) {
      .subscribe__description--form-btn {
        margin-top: 1.25rem;
        width: 40%; } }
    @media only screen and (max-width: 500px) {
      .subscribe__description--form {
        display: flex;
        flex-direction: column;
        align-items: center; } }
  .subscribe__img {
    height: 40rem;
    width: 40rem;
    position: relative; }
    @media only screen and (max-width: 900px) {
      .subscribe__img {
        height: 30rem;
        width: 30rem;
        left: 32%; } }
    @media only screen and (max-width: 700px) {
      .subscribe__img {
        left: 20vw; } }
    @media only screen and (max-width: 550px) {
      .subscribe__img {
        left: 15vw; } }
    @media only screen and (max-width: 500px) {
      .subscribe__img {
        left: 12vw; } }
    @media only screen and (max-width: 350px) {
      .subscribe__img {
        left: 7vw; } }
