*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: 1.7;
  font-weight: 400; }

@font-face {
  font-family: calibri;
  src: url(../fonts/calibri/Calibri.ttf); }

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf); }

.header {
  position: fixed;
  width: 100%;
  z-index: 99999999;
  background-color: #fff;
  box-shadow: 0px 2px 6px #5A5A5A26; }
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem; }
    .header__nav--logo-img {
      height: 3rem; }
    .header__nav--links {
      list-style-type: none;
      display: flex;
      font-family: calibri; }
      .header__nav--links-item {
        color: #979797;
        font-size: 1.5rem;
        margin: 0 1.5rem;
        font-weight: 600;
        cursor: pointer; }

.main {
  position: relative;
  top: 44px;
  display: flex; }
  .main__info {
    width: 50%; }
  .main__img--pic {
    height: 100%; }
  .main__info--details-item {
    display: flex;
    align-items: center; }
    .main__info--details-item_telephone {
      height: 15px;
      margin: 0 2rem 0 1rem; }
    .main__info--details-item_location {
      height: 15px;
      margin: 0 2.5rem 0 1rem; }
    .main__info--details-item_mail {
      height: 15px;
      margin: 0 2rem 0 1rem; }
