.features {
    background-color: #f6f6f6;
    padding-top: 4.9rem;
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        &--card {
            width: 35rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 2.3rem;
            margin: 0 .15rem 4.25rem .15rem;
            &-img {
                height: 16.8rem;
                width: 16.8rem;
                border-radius: 50%;
                margin-bottom: 1rem;
            }
            &-paragraph {
                color: $gray-light;
                margin: 0 2.5rem;
                font-size: 1.8rem;
                text-align: center;
                font-family: roboto;
            }
        }
    }
}