.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  &--links {
    list-style-type: none;
    display: flex;
    font-family: calibri;
    &-item {
      font-size: 2rem;
      margin: 0 1.5rem;
      font-weight: 600;
    }
  }
}
