.header {
    position: fixed;
    width: 100%;
    z-index: 99999999;
    background-color: #fff;
    box-shadow: 0px 2px 6px #5A5A5A26;
    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 2rem;
        &--logo-img {
            height: 3rem;
        }
        &--links {
            list-style-type: none;
            display: flex;
            font-family: calibri;
            &-item {
                color: $gray-light;
                font-size: 1.5rem;
                margin: 0 1.5rem;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}

.main {
    height: 100vh;
    font-family: calibri;
    overflow: hidden;
    background-image: linear-gradient(105deg, rgba(white, .9) 0%, rgba(white, .9) 46%, transparent 46%), url(../img/Images/workplace-1245776_1920.jpg);
    background-size: cover;
    @media only screen and (max-width: 1000px) {
        background-image: linear-gradient(105deg, rgba(white, .8) 0%, rgba(white, .8) 100%, transparent 100%), url(../img/Images/workplace-1245776_1920.jpg);
    }
    &__info {
        width: 50vw;
        padding: 8rem 5rem;
        @media only screen and (max-width: 1000px) {
            width: 100vw;
        }
        &--services-btn {
            margin: 0 5rem;
            @media only screen and (max-width: 1000px) {
                margin: 0 40%;
            }
            @media only screen and (max-width: 800px) {
                margin: 0 33%;
            }
        }
        &-quote {
            font-size: 4.4rem;
            color: $gray-dark;
            text-align: center;
        }
        &-info {
            font-size: 2rem;
            color: $gray-dark;
            text-align: center;
            margin: 0 0 2rem 0;
        }
        &--details {
            margin: 5rem 1rem;
            @media only screen and (max-width: 1000px) {
                margin: 5rem 35%;
            }
            @media only screen and (max-width: 800px) {
                margin: 5rem 25%;
            }
            @media only screen and (max-width: 550px) {
                margin: 5rem 15%;
            }
            &-item {
                display: flex;
                align-items: center;
                font-size: 2rem;
                color: $gray-medium-dark;
                &_telephone {
                    height: 15px;
                    margin: 0 2rem 0 1rem;
                }
                &_location {
                    height: 15px;
                    margin: 0 2.5rem 0 1rem;
                }
                &_mail {
                    height: 15px;
                    margin: 0 2rem 0 1rem;
                    flex-flow: wrap;
                }
            }
        }
    }
}

.main__img {
    width: 60vw;
    &--pic {
        height: 100%;
    }
}