.services {
    background-color: #fff;
    padding-top: 4.9rem;
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        &--card {
            margin: 0 .15rem 4.25rem .15rem;
            border-radius: 10px;
            width: calc(33% - 2.5rem);
            height: 53.7rem;
            padding: 2.3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            @media only screen and (max-width: 1000px) {
                width: calc(49% - 2.5rem);
            }
            @media only screen and (max-width:700px) {
                width: calc(90% - 2.5rem);
            }
            &:hover {
                box-shadow: 0 5px 20px rgba(black, .5);
            }
            &-1 {
                border: 3px solid $border-green;
            }
            &-2 {
                border: 3px solid $border-blue;
            }
            &-3 {
                border: 3px solid $border-purple;
            }
            &-img {
                height: 16.8rem;
                width: 19.6rem;
            }
            &--service {
                padding: 0 1rem;
                &-list {
                    margin: .5rem;
                    margin-left: 1rem;
                    font-family: roboto;
                    font-weight: 300;
                    font-size: 1.8rem;
                    color: $gray-light;
                    @media only screen and (max-width: 400px) {
                        font-size: 1.5rem;
                        margin: 0;
                    }
                }
                &-line {
                    background-color: rgba($gray-light, .5);
                    width: 28.5rem;
                    height: 1px;
                    border: none;
                    outline: none;
                    @media only screen and (max-width: 400px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}