.services {
    background-color: orange;
    &__heading--1 {
        padding-top: 4.9rem;
        font-size: 4.2rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Caibri' sans-serif;
    }
}