$gray-light: #979797;
$gray-lighter: #878f95;
$gray-medium-dark: #535353;
$gray-dark: #676767;
$coral-red: #F3737C;
$border-green: #2ECC71;
$border-blue: #2980B9;
$border-purple: #9B59B6;
$blue-dark:#101d2c;
